<?xml version="1.0" encoding="utf-8" ?>
<!--
  Client logging: %AppData%\EasyRadioLink\Logs\clientlog.txt.
  Keep in sync with App.SetupLogging(), which builds the same configuration in code when this file is missing.
-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/EasyRadioLink/Logs" />
    <targets>
        <target name="asyncFileTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target name="fileTarget"
                    xsi:type="File"
                    fileName="${var:logDirectory}/clientlog.txt"
                    archiveFileName="${var:logDirectory}/clientlog.old.txt"
                    archiveAboveSize="104857600"
                    maxArchiveFiles="1"
                    layout="${longdate} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=1}"
            />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="asyncFileTarget"/>
    </rules>
</nlog>
